body{

  height: 100%;
}

#wrapper{
  /* height: 100vh;
  width: 100vw; */
  padding-left: 0;
  padding-right: 0;
  /* padding-top: 0; */

}

svg {
  /* width: 100vw;
  height: 100vh; */
  /* padding: 100px; */
  margin: 0;
}

/* nav{
  height: 10%;
} */

.nav_landscape{
  height: 10%;

}

.nav_buttons_landscape{
  height: 10%;
  width: 10%;
}

/* test 3 of changing to main branch*/
